asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.2
Django==5.1.6
django-environ==0.12.0
django-widget-tweaks==1.5.0
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
Pygments==2.19.2
pytest==8.4.1
python-decouple==3.8
requests==2.32.4
sqlparse==0.5.3
urllib3==2.5.0

