{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h1 class="h4 mb-2">Hasło zmienione ✅</h1>
          <p class="mb-4">Twoje hasło zostało pomyślnie ustawione. Możesz się teraz zalogować.</p>

          <a href="{% url 'login' %}" class="btn btn-primary">Przejdź do logowania</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
